{% extends 'base.html' %}
<title>{% block title %}Profile{% endblock %}</title>
<body>
{% block body %}

<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="{{ prof.image.url }}"><span class="font-weight-bold">{{ prof.name }}</span><span class="text-black-50">{{ prof.email}}</span><span> </span></div>
        </div>
        <div class="col-md-5 border-right">
            <div class="p-3 py-5">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>

                <div class="row mt-3">
                    <div class="col-md-12"><label class="labels">Name</label><input type="text" class="form-control"  value="{{ prof.name }}" readonly></div>
                    <div class="col-md-12"><label class="labels">email</label><input type="text" class="form-control" placeholder="" value="{{ prof.email }}"readonly></div>
                    <div class="col-md-12"><label class="labels">Mobile Number</label><input type="text" class="form-control" placeholder="" value="{{ prof.phone_number }}"readonly></div>
                    <div class="col-md-12"><label class="labels">Noted</label><input type="text" class="form-control" placeholder="" value="{{ prof.note}}"readonly></div>

                </div>
                <div class="row mt-3">
                <a href="{% url 'update_profile' prof.id %}" class="btn  btn-primary ">Update Profile</a>
                <a href="{% url 'delete' prof.id %}" class="btn  btn-danger ">Delete</a>
            </div>
            </div>
        </div>

    </div>
</div>
</div>
</div>
{% endblock %}
</body>